[Unit]
Description=Cassandra
After=docker.service flanneld.service
Requires=docker.service flanneld.service

[Service]
ExecStartPre=-/usr/bin/docker kill cassandra-%i
ExecStartPre=-/usr/bin/docker rm cassandra-%i
ExecStartPre=-/usr/bin/docker pull obzen-reg:5000/obzen/cassandra
ExecStartPre=-/usr/bin/mkdir -p /data/cassandra

Environment=CASSANDRA_CLUSTER_NAME=obzen-cassandra-cluster
Environment=CASSANDRA_LISTEN_ADDRESS=auto
#Environment=CASSANDRA_BROADCAST_ADDRESS=auto
#Environment=CASSANDRA_SEEDS=

#ExecStart=/usr/bin/bash -c "CASSANDRA_SEEDS=$(/usr/bin/fleetctl list-machines -fields='ip' -no-legend=true | tr '\n' ',') && exec /usr/bin/docker run --rm --name cassandra-%i -p 7000:7000 -p 7001:7001 -p 7199:7199 -p 9042:9042 -p 9160:9160 -v /data/cassandra:/data/cassandra obzen-reg:5000/obzen/cassandra"

ExecStart=/usr/bin/bash -c "CASSANDRA_SEEDS=$(/usr/bin/fleetctl list-machines -fields='ip' -no-legend=true | tr '\n' ',') && exec /usr/bin/docker run --rm --name cassandra-%i -p 7000:7000 -p 7199:7199 -p 9042:9042 -p 9160:9160 -v /data/cassandra:/data/cassandra -e CASSANDRA_CLUSTER_NAME=${CASSANDRA_CLUSTER_NAME} -e CASSANDRA_LISTEN_ADDRESS=${CASSANDRA_LISTEN_ADDRESS} -e CASSANDRA_BROADCAST_ADDRESS=${CASSANDRA_BROADCAST_ADDRESS} -e CASSANDRA_SEEDS=\"$CASSANDRA_SEEDS\" obzen-reg:5000/obzen/cassandra"
ExecStop=/usr/bin/docker stop cassandra-%i
TimeoutStartSec=900s

[X-Fleet]
Conflicts=cassandra@*.service
MachineMetadata=cassandraid=%i
