[Unit]
Description=Kafka Server
After=docker.service flanneld.service zookeeper@%i.service
Requires=docker.service flanneld.service zookeeper@%i.service

[Service]
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=-/usr/bin/docker pull obzen-reg:5000/obzen/%p
ExecStartPre=-/usr/bin/mkdir -p /data/kafka 
ExecStart=/usr/bin/bash -c "ZK_SERVERS=$(/usr/bin/fleetctl list-machines -fields='ip,metadata' -no-legend=true | awk -F'[=\t]' '{print $1\":2181\"}' | tr '\n' ',') && exec /usr/bin/docker run --rm --name %p-%i -e KAFKA_HEAP_OPTS='-Xmx256m -Xms128m' -e ZK_CONNECT=\"$ZK_SERVERS\" -e KAFKA_ID=%i -e ADVERTISED_HOST_NAME=%H -p 9092:9092 -v /data/kafka:/data/kafka obzen-reg:5000/obzen/%p"
ExecStop=/usr/bin/docker stop %p-%i
TimeoutStartSec=900s

[X-Fleet]
Conflicts=%p@*.service
MachineMetadata=machineid=%i
